.ProductsSlider {
  padding: 72px 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.ProductsSlider .Section-Heading {
  font-size: var(--fs-m);
}

.ProductsSlider .ShopNow-Button {
  text-transform: uppercase;
  letter-spacing: 14px;
  align-self: flex-start;
  font-weight: var(--fw-semibold);
  margin-top: 58px;
}

@media screen and (min-width: 1440px) {
  .ProductsSlider {
    padding: 120px 100px;
    max-width: 40%;
  }

  .ProductsSlider .Section-Heading {
    font-size: calc(var(--fs-x) * 0.85);
  }

  .ProductsSlider .ShopNow-Button {
    margin-top: 32px;
  }
}

.ProductsSlider .SliderControls {
  display: flex;
  width: 112px;
  height: 56px;
  position: absolute;
  top: -56px;
  right: 0;
}

.ProductsSlider .SliderControls button {
  background-color: var(--black);
  border: none;
  width: 50%;
  cursor: pointer;
}

.ProductsSlider .SliderControls button:focus {
  outline: none;
}

.ProductsSlider .SliderControls button:hover {
  background-color: var(--dark-gray-2);
}

@media screen and (min-width: 1280px) {
  .ProductsSlider .SliderControls {
    top: auto;
    bottom: 0;
    right: auto;
    left: 0;
    width: 160px;
    height: 80px;
  }
}
