.Navbar {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 44px 24px;
}

.Navbar .ToggleMenuButton {
  background-color: transparent;
  padding: 0;
  border: none;
  z-index: 20;
}

.Navbar .ToggleMenuButton:focus {
  outline: none;
}

.Navbar .AppLogo {
  margin: 0 auto;
}

.Navbar .Menu {
  display: none;
  align-items: center;
  position: fixed;
  background-color: var(--white);
  justify-content: flex-end;
  font-size: 12px;
  text-transform: lowercase;
  width: 100%;
  left: 0;
  top: 0;
  padding: 44px 24px;
}

.Navbar .Menu.is-open {
  display: flex;
}

.Navbar .Menu li:not(:last-child) {
  margin-right: 32px;
}

.Navbar .Menu.is-open::after {
  content: "";
  display: inline-block;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: calc(100vh - 102px);
  left: 0;
  bottom: 0;
}

@media screen and (min-width: 1280px) {
  .Navbar {
    justify-content: flex-start;
    padding: 64px;
  }

  .Navbar .AppLogo {
    margin: 2px 0 0;
  }

  .Navbar .Menu {
    display: flex;
    background-color: transparent;
    align-items: flex-start;
    position: static;
    width: auto;
    padding: 0;
    margin-left: 52px;
    color: var(--white);
    font-size: 14px;
  }

  .Navbar .ToggleMenuButton {
    display: none;
  }
}
